#Ignorar archivos java bycode (*.class)

*.class

#Ignorar archivos Bluej
#Bluej Context File (*.ctxt)

*.ctxt

#Ignorar archivos temporales generados por vim

*.swp
*.swo

#Ignorar carpeta doc generada por Bluej

/strategy/doc/*

#Ignorar archivos *.bluej 

*.bluej



